@model IEnumerable<BookingExchangeViewModel.Region>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Covid-19 İtalya Geneli İyileşme/Ölüm Oranları</h1>

<br />

<table class="table table-striped">
    <tr>
        <th>Bölge Adı</th>
        <th>Onaylanan Vaka Sayısı</th>
        <th>Aktif Vaka Sayısı</th>
        <th>Toplam İyileşme</th>
        <th>Ölüm</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.state</th>
            <td>@item.confirmed</td>
            <td>@item.active</td>
            <td>@item.recovered</td>
            <td>@item.deaths</td>
            
        </tr>
    }
</table>

