﻿@using EntityLayer.Concrete
@model List<Reservation>
@{
    ViewData["Title"] = "MyApprovalReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
int count = 0;
}

<h1>Onay Bekleyen Randevularım</h1>


<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Klinik</th>
        <th>Kişi Sayısı</th>
        <th>Randevu Tarihi</th>
        <th>Durum</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Destination.City</td>
            <td>@item.PersonCount</td>
            <td>@item.ReservationDate</td>
            <td>@item.Status</td>
        </tr>
    }
</table>